h1 {
    background-color: green;
    text-align: center;
    
}

 table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.red {
    background-color: red;
    font-size: larger;
    
}
body {
    background-color: beige;
    margin: 0px;
}
 #submitButton {
     background-color:  green;
 }
 tr {
     background-color: grey;
     text-align: center;
 }

 th {
     background-color: aquamarine;
 }

